<div class="container-fluid bg-dark" style="color:white">
    <h1 >informacion del usuario </h1>
</div>

<div class="container-fluid">
    <p><strong>Nombre:</strong> {{user.first_name}} {{user.last_name}}</p>
    <p><strong>Email:</strong> {{user.email}}</p>
    <p><strong>Rol:</strong>  {{user.role}}</p>
</div>
<div class="container-fluid">
    <p>para <strong> acceder a premium</strong> debes subir los diguientes archivos:</p>
   
   <form id="user-role-form" action="" method="">
    <label for="identificacion">identificacion *</label>
    <input type="file" name="identificacion" id="identificacion" required>
    <label for="domicilio">domicilio *</label>
    <input type="file" name="domicilio" id="domicilio" required>
    <label for="estado-cuenta">estado de cuenta *</label>
    <input type="file" name="estado-cuenta" id="estado-cuenta" required>
    <button type="submit">actualizar rol</button>
   </form>
</div>

<script>
    const currentRole = "{{user.role}}";
    const userEmail = "{{user.email}}";
    let newUserRole;

    const userRoleForm = document.getElementById("user-role-form");

    userRoleForm.addEventListener("submit", async (e) => {
        e.preventDefault();

        const identificacionFile = document.getElementById("identificacion").files[0];
        const domicilioFile = document.getElementById("domicilio").files[0];
        const estadoCuentaFile = document.getElementById("estado-cuenta").files[0];

        if (identificacionFile && domicilioFile && estadoCuentaFile) {
            currentRole == "user" ? (newUserRole = "premium") : (newUserRole = "user");

            const formData = new FormData();
            formData.append("role", newUserRole);
            formData.append("email", userEmail);
            formData.append("identificacion", identificacionFile);
            formData.append("domicilio", domicilioFile);
            formData.append("estado-cuenta", estadoCuentaFile);

            try {
                const response = await fetch('/api/sessions/updateRole', {
                    method: 'PUT',
                    body: formData,
                });

                if (response.ok) {
                    alert("rol actualizado");
                    window.location.reload();
                } else {
                    console.error('Error al actualizar el usuario');
                }
            } catch (error) {
                console.error('Error en la solicitud fetch:', error);
            }
        } else {
            alert(" todos los archivos son requeridos");
        }
    });
</script>

